/* Alexander Zung */

body {
    background-color: #339988;
    color: blanchedalmond;
}

h1 {
    color: blue;
    text-align: center;
}

#lunch {
    color:red;
}

h2 {
    font-weight: bold;
}

h3 {
    color: white;
    background-color: blue;
}

p {
    text-align: center;
}

.highlightText, .pclass {
    background-color: orange;
}

footer {
    border: 5px dotted #006688;
}

footer h6 {
    color: #67a4f2;
    background-color: beige;
    font-size: 14px;
}